pre, code {
    background-color: #f4f4f4;
    color: #1a1a1a;
}

.hl-keyword {
    color: #b22222;
}

.hl-property {
    color: #6a0dad;
}

.hl-attribute {
    color: #795548;
    font-style: italic;
}

.hl-type {
    color: #d93025;
}

.hl-generic {
    color: #9c27b0;
}

.hl-value,
.hl-literal,
.hl-number {
    color: #0645ad;
}

.hl-variable {
    color: #c16000;
}

.hl-comment {
    color: #4b5258;
    font-weight: 500;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #333;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}